{% extends "app/layout.html" %}

{% block content %}

<h2>Let's! {{ title }}</h2>
<h3>{{ message }}</h3>

<p>"Let's! Datacentre Monitoring" is a final-year Project by three students in Republic Polytechnic.</p>

<h3>Get acquainted with the Project!</h3>

<p>With the increased demand for on-line service, the infrastructure needed to support is increasing also. As a result, more</p>

<h3>Learn about the project specification!</h3>

<p>The group scope involved the following:</p>

<ul>
    <li> Item 1</li>
    <li> Item 2</li>
    <li> Item 3</li>
</ul>

{% endblock %}
