{% extends "app/layout.html" %}

{% block content %}

<h2>Let's! {{ title }}</h2>
<h3>{{ message }}</h3>

<p>Select the device to delete today!</p>

<label for="deviceselect">Fipy device:</label>
<select id="deviceselect" name="deviceselect">
    <option value="device1">Device-1</option>
    <option value="device2">Device-2</option>
    <option value="device3">Device-3</option>
    <option value="device4">Device-4</option>
</select>

<form style="display: inline" action="/fipyslaoperation" method="get">
  <button>Let's Go!</button>
</form>


{% endblock %}