 <!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>Let's! Datacentre Monitoring</h1>
<p>This is the report for {{ datetime }}.</p>

<img src="fipy1-graph.jpg" alt="Fipy 1 temperature" width="320" height="240">
<p>The temperature reported for Fipy 1 is <bold> {{ temperature }} </bold>. (Above is where the graph would go)</p>
<p>The humidity for Fipy 1 is <bold> {{ humidity }} </bold>.

<p> (So basically there is supposed to be a for-loop for what is happening above.) </p>

<footer>
<p>&copy; {{ year }} - Let's! Datacentre Monitoring</p>
</footer>

</body>
</html> 